body {
    background-image: url("background_image.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
}
header {
    background-color: rgba(255, 255, 255, 0.2);
}
a {
    display: block-inline;
    margin-right: 20px;
    text-decoration: none;
    color: white;
    background-color: #ED1B23;
    padding: 5.25px 20px;
    border: none;
}
div {
    background-color: rgba(255, 255, 255, 0.4);
}
input {
    width: 220px;
}
input[type=submit] {
    color: white;
    background-color: #ED1B23;
    padding: 5.25px 20px;
    border: none;
}
.decorate {
    text-shadow: 1px 2px 2px #ED1B23;
}
table {
    width: 300px;
    height: 100px;
    border-collapse: collapse;
}
thead {
    background-color: lightgray;
}
tbody {
    background-color: rgba(255, 255, 255, 0.6);
}
table, th, td {
    border: 1px solid black;
}
h1, h2, form, footer {
text-align: center;
}
.box {
    background-color: #ED1B23; 
    color: white;
    margin: 20px;
    width: fit-content;
    float: left;
}
footer {
    color: white;
    background-color: rgba(0, 0, 0, 0.8);
    margin-top: 190px;
    padding: 10px 10px;
}